/* 滚动条 */
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #49b1f5;
    border-radius: 2em;
}

::-webkit-scrollbar-corner{
    background-color: transparent;
}

::-moz-selection{
    color: #fff;
    background-color: #49b1f5;
}

/* 代码框主题 */
#article-container figure.highlight{
    border-radius: 10px;
}